html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-image: linear-gradient(13deg, rgba(199, 191, 188, 0.473) 5%, rgba(155, 177, 168, 0.8) 58%, rgba(161, 81, 27, 0.6) 80%);
}

/* stripping styles */

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.App {
  background-image: linear-gradient(13deg, rgba(199, 191, 188, 0.473) 5%, rgba(155, 177, 168, 0.8) 58%, rgba(161, 81, 27, 0.6) 80%), url(./tv2.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;    
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}
  
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding-top: 150px;
  
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: calc(7rem + 2vw);
  letter-spacing: 2px;
  margin: 10px 0 10px;
  color: whitesmoke;
  text-align: center;
  position: relative;
}

.user-login input {
  width: 280px;
}

.user-input,
.watch-list-container,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
} 

.input-container,
.watch-list {
  width: 55%;
  max-width: 600px;
  min-width: 300px;
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 15px;
  border-radius: 3px 25px 25px 3px;
}

.list-item-container div {
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  color: rgb(31, 53, 53);
  padding: 15px 15px 15px 25px;
  margin: 10px 0;
  border: 1px solid darkgray;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.247);
}

h2 {
  text-transform: capitalize;
  font-size: calc(2rem + 2vw);
  font-family: 'Comfortaa', cursive;
  text-align: center;
  width: 50%;
  color: whitesmoke;
  margin: 50px 0 20px;
  position: relative;
}

h2::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -9px;
  left: 25%;
  background-color: whitesmoke;
  width: 50%;
  height: 1px;
}

input {
  border: 1px solid whitesmoke;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(155, 177, 168, 0.6);
  color: white;
  box-shadow: 0 0 10px rgba(212, 214, 213, 0.5);
} 

/* for mobile phones */
::-webkit-input-placeholder {
  color: white;
  opacity: 0.8;
}
::-ms-input-placeholder {
  color: white;
  opacity: 0.8;
}

.list-item-container {
  padding: 0;
  position: relative;
}

button {
  font-family: 'Comfortaa', cursive;
  border: 0;
  padding: 10px 30px;
  font-size: 2.5rem;
  border-radius: 25px 3px 25px 3px;
  margin: 15px;
  color: #998f73;
  background-color: whitesmoke;
  opacity: 1;
  transition: all 100ms ease;
}

button:hover,
button:focus {
  box-shadow: 0px 0px 6px #0000008c;
  background-color: #f3b773;
  color: white;
}

.add-button, 
.remove-button {
  border-radius: 25px;
  display: inline-block;
  margin: 5px;
  padding: 4px 15px;
  position: absolute;
  top: 4px;
  right: 5px;
}

.remove-button {
  font-size: 2rem;
  background-image: linear-gradient(13deg, rgba(199, 191, 188, 0.473) 5%, rgba(155, 177, 168, 0.8) 58%, rgba(119, 84, 61, 0.3) 80%);
  top: 5px;
  padding: 6px 15px;
  color: whitesmoke;
  border: none;
  outline: darkslategray;
  box-shadow: 0px 0px 10px #0000008c;
}

.save-button {
 font-size: 2.3rem;
 padding-bottom: 6px;
}

.stored-lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.user-list-card {
  text-transform: capitalize;
  font-family: 'Comfortaa', cursive;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebe8d6;
  color: darkslategray;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px #0000008c;
  position: relative;
}

.user-list {
  padding: 0;
  margin: 0;
  width: 90%;
}

.delete {
  /* stripping styles from other buttons */
  border: 0;
  padding: 0;
  border-radius: 0;
  margin: 0;
  background: none;

  text-transform: lowercase;
  font-size: 3rem;
  font-style: normal;
  position: absolute;
  top: 5px;
  right: 15px;
  color: darkslategray;
  cursor: pointer;
}

.delete:hover,
.delete:focus {
  box-shadow: none;
  background-color: transparent;
  color: darkslategray;
}   

h3 {
  margin: 20px 0 10px;
  width: 70%;
  text-align: center;
}

.user-list li {
  margin: 10px;
  position: relative;
}

.user-list li::after {
  content: '';
  display: block;
  position: absolute;
  left: 3px;
  bottom: -3px;
  width: 80%;
  height: 1px;
  background-color: darkslategray;
}

footer {
  margin: 0;
  padding: 10px 40px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  bottom: 0;
  background-image: linear-gradient(to bottom right, transparent 40%, darkslategray);
  text-align: right;
}

footer p {
  font-size: 1.8rem;
  display: inline-block;
  margin: 0;
  color: white;
}

footer p:last-of-type {
  margin: 5px 0 10px;
}

a {
  color: whitesmoke;
  transition: all 200ms ease;
}

a:hover,
a:focus {
  color: #f1a957;
}

.center {
  text-align: center;
}

.fade-in {
  opacity: 1;
  animation: fade-in 1s ease-in-out 1;
}

@keyframes fade-in {
  0% { 
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media (max-width: 760px) {

  .wrapper {
    width: 90%;
  }
  
  input {
    font-size: 1.8rem;
  }

}

@media (max-width: 570px) {

  h1 span {
    display: block;
    position: relative;
    top: -19px;
    left: 7px;
  }

}

